@import "src/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";

// Layout font base for calculations
@rem-base-xs: 18px;
@rem-base-sm: 22px;

// Pixel 2 rem converter
@pr: (1 / 18rem);
@pr2: (1 / 22rem);

// Media queries shortcuts
@xs: ~"(max-width: @{screen-sm-min})";
@br480: ~"(min-width: 480px)";
@sm: ~"(min-width: @{screen-sm-min})";
@sm-max: ~"(max-width: @{screen-sm-min})";
@md: ~"(min-width: @{screen-md-min})";
@lg: ~"(min-width: @{screen-lg-min})";

// Colors
@brand-blue: #5a87d9;
@brand-blue-link: @brand-blue;
@brand-blue-link-hover: lighten(@brand-blue-link, 20%);
@brand-blue-link-visited: mix(@brand-blue-link, #f0f, 50%);
@brand-blue-link-visited-hover: lighten(@brand-blue-link-visited, 20%);
@brand-green: #a7e066;
@brand-yellow: #ffd066;
@brand-red: #ff92aa;
@brand-grey: #494949;
@brand-pink: #ff818d;
@brand-grey-text: #4c4c4c;


// Font size, REM-base
html, body, p {
  font-size: @rem-base-xs;
  @media @sm {
    font-size: @rem-base-sm;
  }
  &:extend(.mullerlight);
}

// Margin reset
p, ul, ol, h1, h2, h3, .form-group, hr {
  margin: 0;
}

// Fonts

@import url("//hello.myfonts.net/count/2eeb78");
@font-face {font-family: 'MullerBold';src: url('../fonts/2EEB78_0_0.eot');src: url('../fonts/2EEB78_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2EEB78_0_0.woff2') format('woff2'),url('../fonts/2EEB78_0_0.woff') format('woff'),url('../fonts/2EEB78_0_0.ttf') format('truetype');}
@font-face {font-family: 'MullerLight';src: url('../fonts/2EEB78_1_0.eot');src: url('../fonts/2EEB78_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2EEB78_1_0.woff2') format('woff2'),url('../fonts/2EEB78_1_0.woff') format('woff'),url('../fonts/2EEB78_1_0.ttf') format('truetype');} 
@font-face {font-family: 'MullerMedium';src: url('../fonts/2EEB78_2_0.eot');src: url('../fonts/2EEB78_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2EEB78_2_0.woff2') format('woff2'),url('../fonts/2EEB78_2_0.woff') format('woff'),url('../fonts/2EEB78_2_0.ttf') format('truetype');}


.font-default {
  font-weight: normal;
  font-style: normal;
}
.muller-light {
  &:extend(.font-default);
  font-family: 'MullerLight', 'Verdana', Helvetica, Arial, sans-serif;
}
.muller-medium {
  &:extend(.font-default);
  font-family: 'MullerMedium', 'Verdana', Helvetica, Arial, sans-serif;
}
.muller-bold {
  &:extend(.font-default);
  font-family: 'MullerBold', 'Verdana', Helvetica, Arial, sans-serif;
}

* {
  &:extend(.muller-light);
}
p {
  line-height: 1.4em;
  color: @brand-grey-text;
}
strong {
  &:extend(.muller-medium);
}
h1, h2 {
  &:extend(.muller-medium);
  color: #000;
  &:extend(.text-center);
}

// Standard margin-bottom on all elements to create a vertical rhythm

// Standard margin bottom mixin
.margin-multiplier (@multiplier: 1) {
  margin-bottom: 20 * @multiplier * @pr;
}

.mgst {
  .margin-multiplier(1);
}

.mgst {
  .margin-multiplier(1);
}
.mgst2x {
  .margin-multiplier(2);
}
.mgst3x {
  .margin-multiplier(3);
}
.mgst0x {
  .margin-multiplier(0);
}
.mgst50p {
  .margin-multiplier(0.5);
}
p, ul, ol, table.table, .margin-standard, .social, .user-block, .table-responsive, .carousel, .map, .video, .form-group {
  &:extend(.mgst);
}
h1, h2, h3, h4 {
  line-height: 1.2em;
  a & {
    color: @brand-blue-link;
  }
  a:visited & {
    color: @brand-blue-link-visited;
  }
}
.h1-padding {
  padding-top: 50 * @pr;
}
h1 {
  font-size: 30 * @pr;
  &:extend(.h1-padding);
  &:extend(.mgst);
  &.h1-micro {
    font-size: 14px;
    margin: 0;
    padding-top: 20 * @pr;
    padding-bottom: 20 * @pr;
  }
  &:extend(.text-uppercase);
}
h2 {
  &:extend(.font-h2);
  padding-top: 30 * @pr;
  &:extend(.mgst);
  font-size: 36 * @pr2;
  &:extend(.text-uppercase);
}
.h3-padding {
  padding-top: 20 * @pr;
}
h3 {
  font-size: 22 * @pr;
  &:extend(.h3-padding);
  &:extend(.mgst);
}

a {
  &, p {
    transition: color 0.5s;
    color: @brand-blue-link;
  }
  &:hover, &:hover p, &.hover {
    color: @brand-blue-link-hover;
  }
  &:visited, &:visited p, &.visited {
    color: @brand-blue-link-visited;
  }
  &:visited:hover, &.visited:hover, &:visited:hover p {
    color: @brand-blue-link-visited-hover;
  }
}

// COMMON
.featured {
  &:extend(h3);
  &:extend(.mgst2x);
  &:extend(.text-left);
  &, & i {
    &:extend(.muller-bold);
  }
  i {
    color: @brand-pink;
  }
}

@header-height: 6rem;
.header {
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 100;
  padding: 2rem;
  height: @header-height;
}

@padding-block: 30 * @pr;

// Padding for header/menu
body {
  padding-top: @header-height;
  // Some pages don't have padding on top (with 100% promo blocks, that goes "under" menu)
  &.nopadding {
    padding-top: 0;
  }
}
.header-menu-bars {
  color: @brand-pink;
}

.footer {
  background-color: @brand-grey;
  padding-top: 60 * @pr2;
  padding-bottom: 60 * @pr2;
}
.logo-header {
  width: 180 * @pr2;
}
.logo-footer {
  width: 120 * @pr2;
}

.inverted {
  p {
    color: white;
  }
  a {
    color: white;
  }
}

// Main
.promo100 {
  height: 100%;
  background-color: @brand-grey;
  &:extend(.mgst2x);
  h1 {
    &:extend(.text-left);
    line-height: 28/18em;
    @media @xs {
      font-size: 24 * @pr;
    }
    @media @br480 {
      font-size: 36 * @pr;
    }
    @media @md {
      font-size: 60 * @pr2;
    }
    text-transform: uppercase;
    color: #fff;
  }
  background-size: cover;
  background-position: center top;
  background-image: url("../img/front-bg.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  .container-fluid {
    width: 100%;
  }
}
.fullw {
  max-width: none;
}

.container-common {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  &:extend(.container-common);
}

// SERVICES

.service-item-1 {
  background-color: #eee;
}
.service-item-2 {
  background-color: #cff;
}

// Corners

@corner-padding: 10 * @pr;

.border-cornered {
  position: relative;
  &::before {
    position: absolute;
    z-index: 100;
    top: @corner-padding; left: @corner-padding; right: @corner-padding; bottom: @corner-padding;
    background-image: url("../img/border.svg");
    content: " ";
  }
  z-index: 50;
}

.card-cornered(@bg-color) {
  position: relative;
  &::before {
    position: absolute;
    top: 0; left: 0;
    border-top: 1rem solid white;
    border-right: 1rem solid transparent;
    content: " ";
  }
  &::after {
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 1rem solid white;
    border-left: 1rem solid transparent;
    content: " ";
    background-color: @bg-color;
  }
  .card-content {
    background-color: @bg-color;
    padding: 1rem;
    padding-bottom: 0.001rem; // hack that works for unknown reasons
  }
  &:extend(.mgst);
}

.card-cornered-blue {
  .card-cornered(@brand-blue);
}
.card-cornered-green {
  .card-cornered(@brand-green);
}
.card-cornered-yellow {
  .card-cornered(@brand-yellow);
}
.card-cornered-red {
  .card-cornered(@brand-red);
}

// PROJECT

.project-infographics-number {
  font-size: 3rem;
  &:extend(.mgst2x);
}

// Bootstrap fixes and hacks

// Small image by default is not stretching, make it stretch 100% width
.img-responsive {
  width: 100%;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: flex;
}



// Test if Autoprefixer is working
.autoprefixer-test-class {
  display: flex;
}