include mixins.jade

block init

doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций
  link(href='css/style.css', rel='stylesheet')
  body(class=bodyclass)
    .header
      .container-fluid
        .row
          .col-xs-2.header-menu-bars
            i.fa.fa-2x.fa-bars
          .col-xs-10.text-right
            a(href="index.html")
              img(src="img/logo-pink.svg").logo-header
    block content
    .container-fluid
      .row.footer.inverted
        .col-xs-12.col-sm-4
          a(href="index.html")
            img(src="img/logo-white.svg").logo-footer
        .col-xs-12.col-sm-4
          ul.list-unstyled
            li
              a(href="index.html") Главная
            li
              a(href="project-list.html") Портфолио
            li
              a(href="service-list.html") Сервисы
            li
              a(href="?") Команда
            li
              a(href="?") Клиенты
            li
              a(href="?") Контакты
        .col-xs-12.col-sm-4
          p 
            | 8-880-2000-300
            br
            a(href="mailto:welcome@double-up.ru") welcome@double-up.ru
          p
            a(href="http://facebook.com/")
              i.fa.fa-2x.fa-facebook-official