extends default.jade

block content
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1
        h1 H1 заголовок первого уровня
        p Абзац текста. В рамках запуска нового аромата Lady Million была разработка программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни.
        h2 H2 заголовок второго уровня
        p Еще абзац. В сети интернет проводился online конкурс в instagram'e, а также программа распределения купонов с приятными подарками при помощи баннерной контентной рекламы. Дополнительно в ключевых магазинах был проведен спреинг аромата, чтобы потребители могли услышать его потрясающий запах и сделать правильный выбор.
        p.featured Крупный текст для выделения текста в журнальном стиле.
        p Абзац текста. В рамках запуска нового аромата Lady Million была разработка программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни.
        p
          a(href="?") Ссылка обычная
        p
          a.hover(href="?") Ссылка наведенная
        p
          a.visited(href="?") Ссылка посещенная
        h3 Img with border on top
        .border-cornered
          img(src="http://placehold.it/1600x900").img-responsive.mgst
  .fullw
    .mgst
      img(src="http://placehold.it/1600x900").img-responsive
    .mgst
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/VWf8CXwPoqI?showinfo=0&color=white&modestbranding=1&theme=light&color=white&rel=0&fs=1&rel=0", frameborder='0', allowfullscreen)