extends default.jade

block append init
  - var bodyclass = "nopadding"

block content
  .fullw.promo100.border-cornered
    .container-fluid
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
          h1
            | Агентство 
            br
            | интегрированных 
            br
            | маркетинговых 
            br
            | коммуникаций
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1
        p DOUBLE UP – это умение грамотно спланировать и безупречно реализовать коммуникационную кампанию любой сложности, четко донеся заложенную креативную идею и маркетинговые сообщения, используя ресурсы максимально эффективно.
        h2 Портфолио
    .row
      +portfolio-item("img/p10.jpg", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("img/p01.jpg", "Парфюмерный тренинг Carolina Herrera")
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p.featured 
          i Четкость. Уверенность. Предсказуемость. 
          | Торт.
        h2 Сервисы
    .row.service-item-1
      +service-item("img/s01.jpg", "Brand development", 
        "Создание уверенности в будущем вашего бренда. Опережающее развитие. Воплощение мечт в реальность.")
    .row.service-item-2
      +service-item-even("img/s02.jpg", "Promo", "Фантастические промо-события и промо-материалы, а также другие объекты из мира промо-приставок и суффиксов")
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p.featured Качественные маркетинговые коммуникации — это в первую очередь сильный менеджмент