extends temp.jade

block append init
  - var bodyclass = "nopadding"

block content
  .fullw.promo100.border-cornered
    .container-fluid
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
          h1
            | Агентство 
            br
            | интегрированных 
            br
            | маркетинговых 
            br
            | коммуникаций
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p DOUBLE UP – это умение грамотно спланировать и безупречно реализовать коммуникационную кампанию любой сложности, четко донеся заложенную креативную идею и маркетинговые сообщения, используя ресурсы максимально эффективно.
        p.featured 
          i Четкость. Уверенность. Предсказуемость. 
          | Торт.