mixin project-desc(title, description)
  - pcontents = "<strong>" + title + " </strong>" + description
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p.project-desc!= pcontents

mixin project-img(imgsrc)
  .fullw
    .mgst
      img(src=imgsrc).img-responsive

mixin portfolio-item(imgsrc, title)
  a(href="project.html")
    .col-xs-12.col-sm-6
      .card    
        img(src=imgsrc).img-responsive
        .row
          .col-xs-10.col-xs-offset-1
            .card-title
              p= title

mixin service-item(imgsrc, title, description)
  .col-xs-12.col-sm-6
    .card
      img(src=imgsrc).img-responsive
  .col-xs-10.col-xs-offset-1.col-sm-4
      h3= title
      .card-title
        p= description
  .clearfix.sm-visible-block

mixin service-item-even(imgsrc, title, description)
  .col-xs-12.col-sm-6.col-sm-push-6
    .card
      img(src=imgsrc).img-responsive
  .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-pull-6
      h3= title
      .card-title
        p= description
  .clearfix.sm-visible-block