extends default.jade

block content
  .container-fluid
    .row
      .col-xs-12
        h1 Paca Rabanne Lady Million
  +project-desc("Клиент.", "Paca Rabanne.")
  +project-desc("Выполнено.", "Весна '15.")
  +project-desc("Цель.", "Выход бренда на рынок и построение лояльности.")
  +project-img("img/p01.jpg")
  +project-desc("Описание проекта.", "В рамках запуска нового аромата Lady Million были разработаны программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни. ")
  +project-img("img/p02.jpg")
  +project-desc("Внимание к деталям.", "Внимание к деталям:  В организации было задействовано 24 участника, начиная от грузчиков и заканчивая специально отобранными официантами модельной внешности. Строгое соблюдение сроков позволило провести мероприятие на самом высоком уровне.")
  +project-img("img/p03.jpg")
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        .project-infographics
          .project-infographics-title Количество лайков в Инстаграмме
          .project-infographics-number 4000
          .project-infographics-title Количество участников акции
          .project-infographics-number 1000
          .project-infographics-title Использовано литров парфюма
          .project-infographics-number 300
  +project-img("img/p04.jpg")
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p Сервисы в этом проекте:
        ul
          li Branding
          li Event
          li BTL
  +project-img("img/p05.jpg")
  .container-fluid
    .row
      .col-xs-12
        h2 Еще для Paco Rabbane мы выполнили 5 проектов:
    .row
      +portfolio-item("img/p10.jpg", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("img/p11.jpg", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("img/p12.jpg", "TEFAL brand zone in MEGA")
      +portfolio-item("img/p14.jpg", "GFD Открой свою коктейльную столицу!")
    .row
      +portfolio-item("img/p15.jpg", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("img/p16.jpg", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("img/p16.jpg", "TEFAL brand zone in MEGA")