extends default.jade

block content
  .container-fluid
    .row
      .col-xs-12
        h1 Портфолио
    .row
      +portfolio-item("http://placehold.it/650x150", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("http://placehold.it/650x150", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("http://placehold.it/650x150", "TEFAL brand zone in MEGA")
      +portfolio-item("http://placehold.it/650x150", "GFD Открой свою коктейльную столицу!")
    .row
      +portfolio-item("http://placehold.it/650x150", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("http://placehold.it/650x150", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("http://placehold.it/650x150", "TEFAL brand zone in MEGA")
      +portfolio-item("http://placehold.it/650x150", "GFD Открой свою коктейльную столицу!")
      .col-xs-12
        p
          a(href="?") Дальше