extends default.jade

block content
  .container-fluid
    .row
      .col-xs-12
        h1 Сервисы
        p Мы специализируемся на интегрированных маркетинговых кампаниях. Но проекты в области интегрированных коммуникации состоят из большого количества разноплановых задач, которые решают специализированными сервисами.
    .row
      +service-item("img/s01.jpg", "Brand development", 
        "Создание уверенности в будущем вашего бренда. Опережающее развитие. Воплощение мечт в реальность.")
      +service-item("img/s02.jpg", "Promo", "Фантастические промо-события и промо-материалы, а также другие объекты из мира промо-приставок и суффиксов")
    .row
      +service-item("img/s03.jpg", "Event", "Имиджевые мероприятия, конференции, корпоративные мероприятия, официальные открытия, представленность бренда на событиях, презентации нового продукта, тест-драйвы, церемонии, Team-building")
      +service-item("img/s04.jpg", "MICE", "Что-то определенно похожее на мультфильмы Том и Джери. Но наверняка гораздо серьезнее. Ждем информации от Даши")
    .row
      +service-item("img/s01.jpg", "Digital", "Без создания цифровых артефактов не обходится ни одна грамотная промо-кампания в современном мире. Мы их тоже делаем.")
      +service-item("img/s02.jpg", "PR", "Что про вас будут говорить зависит от того, закажете ли вы PR в нашем агентстве")
    .row
      +service-item("img/s03.jpg", "Creative and Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.")
      +service-item("img/s04.jpg", "Print Production Construction", "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,")